.flag {
  width: 22px;
  height: auto;
}

.flag-list {
  padding-top: 5px;
  padding-bottom: 5px;
}

.flag-button {
  background-color: transparent;
  border: none;
  &:first-child {
    padding-left: 0;
  }
}
