.card-columns {
    .card {
        margin: 2px !important;   
    }
}

.select-menu{
    margin: 0;
    margin-bottom: 15px;

    .mosaic-select-button {
        background-color: $extraLightGrey;
        padding: 0;

        &:hover {
            background-color: $lightBlue;
            color: white;
            -webkit-transition: background-color 600ms linear;
            -ms-transition: background-color 600ms linear;
            transition: background-color 600ms linear;
        }
    }
}