@import "_config.scss"; 

nav {
  display: block;
  width: 100%;
  background: $black;
  color: $white;

  .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    @include translateY(-50%);
  }
}